h1, p {
    color: white;
    text-align: center;
}
#vvl{
    list-style: none;
    background-color: #1abc9c;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-left: 870px;
}
.btn {
    display: inline-flex;
    align-items: center;

    margin: 0;
    
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 12px;
    padding: 0 30px;
    min-height: 50px;
    cursor: pointer;
  
}
btn-sm {
    
    
    font-size: 11px;
}

