h1, p {
    color: white;
    text-align: center;
}
#bl{
    list-style: none;
    background-color: #1abc9c;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-left: 870px;
}
