ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
    
li#h, li#s, li#m, li#e{
 float: right;    
}
    
li#h a, li#s a, li#m a, li#e a{
 display: block;
 color: white;
 text-align: center; 
 padding: 14px 16px;
 text-decoration: none;    
}

.navbar{
    border-radius: 5px;
    
}